#jumbo1
{
	font-size:18pt;
	font-family:"Trebutchet MS", monospace, serif;
	width: 300px;
}
#subINDEX
{
	color: black;
	background-color:white;
	font-weight:bold;
	font-family:"Trebutchet MS", monospace, serif;
	font-size: 12pt;

}
#misc01
{
	width:350px;
}
