#Hopeless
{
	width:100%;
}
#Hopeful
{
	width:200px;
	height:100%;
}
.sidenav
{
	background-color: #f1f1f1;
    height: 100%;
}
#logo2 
{
	width:6000px;
	align-content:center;
}
#citu
{
	align-content: center;
}
